# LINEAR REGRESSION

MACHINE LEARNING STEPS AND RULES TO BUILD A MODEL.
1. Extract features.<br/>
a. Features and target should not have null values.<br/>
b. Features should be of numeric in nature.<br/>
c. Features should be of the type array/dataframe.<br/>
d. Features should have some rows and columns.<br/>
2. Split the datasets into training datasets and testing datasets.<br/>
e. Features should be on same scale.<br/>
3. Train the model on training datasets.<br/>
4. Testing the model on testing datasets.<br/>

HERE WE HAVE BOTH FEATURES AS WELL AS TARGET.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("c:/users/sande/gapminder.csv")

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
y=df["fertility"]

In [5]:
X=df.drop("fertility",axis=1)

In [6]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

# 1

In [7]:
X.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [8]:
X.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

AS THE REGION IS NOT AN INTEGER SO,WE USE DUMMY ENCODING TO CONVERT OBJECT TYPE i.e STRING TYPE TO INTEGER.

In [9]:
X=pd.get_dummies(X,columns=["Region"],drop_first=True)

In [10]:
X.dtypes

population                           float64
HIV                                  float64
CO2                                  float64
BMI_male                             float64
GDP                                  float64
BMI_female                           float64
life                                 float64
child_mortality                      float64
Region_East Asia & Pacific             uint8
Region_Europe & Central Asia           uint8
Region_Middle East & North Africa      uint8
Region_South Asia                      uint8
Region_Sub-Saharan Africa              uint8
dtype: object

HERE, uint8 DEFINES UNSIGNED INTEGER 8.IT MEANS IT WOULD HAVE 2*8 VALUES i.e 256values (0-255)values.

In [11]:
type(X)

pandas.core.frame.DataFrame

In [12]:
X.shape

(139, 13)

# 2

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [15]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [16]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
scaler=MinMaxScaler()

In [18]:
X_train=scaler.fit_transform(X_train)

In [19]:
X_test=scaler.transform(X_test)

# 3

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
model=LinearRegression()

In [22]:
model.fit(X_train,y_train)

LinearRegression()

# 4

In [23]:
model.score(X_test,y_test)

0.880326468970407

In [24]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [25]:
len(X.columns)

13

HERE WE HAVE ONLY FEATURES

In [26]:
data=pd.read_csv("c:/users/sande/gapminderfeatures.csv")

In [27]:
data

,0,2,3,4,5,6,7,8,9,10,11,12,13
0,34811059.0,0.1,3.328945,24.5962,12314.0,129.9049,75.3,29.5,0,1,0,0,0

In [28]:
len(data.columns)

13

In [29]:
data_scaled=scaler.transform(data)

In [30]:
model.predict(data_scaled)

array([1.98776127])